@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: rgba(255, 197, 14, 0.17);
}

main,
.head {
    width: 80%;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    margin-bottom: 50px;
}

.logo {
    font-size: 45px;
    font-weight: bold;
    color: #131313;

}

ul {
    text-align: right;
    display: flex;
    gap: 1rem;
}

ul li {
    list-style: none;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
    color: #131313;

}

ul a {
    text-decoration: none;
}

.banner-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 860px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.banner-txt h1 {
    font-size: 64px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 20px;
}

.banner-txt p {
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
}

.btn {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: #FF900E;
    padding: 20px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.bnimg {
    display: flex;
    justify-content: center;
}

.banner img {
    max-width: 1140px;
    width: 100%;
    border-radius: 10px;

}

.features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    margin-top: 84px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-bottom: 100px;
}

.features-img img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

.features-txt {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.features-txt h2 {
    max-width: 460px;
    font-size: 45px;
    margin-bottom: 24px;
}

.one {
    font-weight: 400;
    color: rgba(19, 19, 19, 1);
}

.two {
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
}

.three {
    font-weight: bold;
    color: rgba(255, 144, 14, 1);
}

.features-txt p {
    font-size: 16px;
    line-height: 26px;
    color: rgba(114, 114, 114, 1);
    margin-bottom: 30px;
}

.features2 {
    display: flex;
    max-width: 1440px;
    align-items: center;
    gap: 50px;

}

.features2-txt h2 {
    font-size: 45px;
    font-weight: bold;
    color: rgba(19, 19, 19, 1);
    padding-left: 20px;
    margin-left: 5px;
    border-left: rgba(255, 144, 14, 1) 5px solid;
    margin-bottom: 23px;
}

.features2-txt p {
    color: rgba(114, 114, 114, 1);
    line-height: 26px;
    margin-bottom: 0px;
}

.features2-txt .pera {
    margin-bottom: 20px;
}

.card {
    padding: 30px;
    border-radius: 8px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.card h3 {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;

}

.features2-img img {
    width: 700px;
    height: 950px;
}

.experience {
    position: relative;
    top: -90px;
    /* pull it down */
    right: -135px;
    transform: translateX(-50%);

    color: #FFFFFF;
    background-color: #FF900E;
    padding: 40px 38px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.experience .one1 {
    font-size: 65px;
    font-weight: bold;
    line-height: 70px;
    color: rgba(255, 255, 255, 1);
}

.experience .one2 {
    font-size: 25px;
    line-height: 40px;
    font-weight: 500;
}

.facts {
    margin-top: 60px;
    margin-bottom: 100px;
}

.facts h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}

.fact-pera {
    max-width: 500px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 80px;
}

.fact-card {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
}

.cards {
    width: 240px;
    height: 240px;
    padding: 30px 35px;
    border: #FF900E 1px solid;
    border-radius: 10px;
}

.cards img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
}

.cards h4 {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
    margin-bottom: 5px;
}

.cards p {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}

.sponspors {
    margin-bottom: 100px;
    text-align: center;
}

.sponspors h2 {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}

.sponspors p {
    line-height: 26px;
    color: #727272;
    margin-bottom: 55px;
}

.sponser {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.sponser-img {
    filter: grayscale(90%);

}

.footer {
    height: 100px;
    background-color: #FFF4E7;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;

}

.footer p {
    font-size: 20px;
    font-weight: 400;
    color: #424242;
}